@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&family=Cairo:wght@200;300;400;600;700;900&family=Kurale&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

head icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.baloo {
  font-family: "Baloo Bhaina 2", cursive;
}

.cairo {
  font-family: "Cairo", sans-serif;
}

.kurela {
  font-family: "Kurale", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.rahjdhani {
  font-family: "Rajdhani", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.sectionHeading {
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  color: #1abc9c;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 5px 20px 5px #a7a7a7;
          box-shadow: 0px 5px 20px 5px #a7a7a7;
}

.navbar a {
  text-decoration: none;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo img {
  width: 50px;
  margin-right: 5px;
}

.navbar .logo h1 {
  font-size: 2rem;
}

.navbar .navSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e3e8e7;
  width: 25vw;
  height: 4.5vh;
  border-radius: 3px;
}

.navbar .navSearchBar input {
  width: 20vw;
  outline: none;
  background-color: #e3e8e7;
  border: none;
  margin: 0.1rem 0.5rem;
}

.navbar .navSearchBar i {
  color: #a0aba8;
  cursor: pointer;
}

.navbar .navbarItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbarItem .navbarLinks {
  list-style: none;
  display: block;
  padding: 0 1rem;
  border-bottom: 5px solid #00000000;
}

.navbar .navbarItem .navbarLinks a {
  text-decoration: none;
  color: #ee6727;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar .navbarItem .navbarLinks a:hover {
  color: #1abc9c;
}

.navbar .navbarItem .navbarLinks:hover {
  border-bottom: 5px solid #2c1880;
}

.navbar .navbarIcons {
  font-size: 2rem;
}

.navbar .navbarIcons a {
  padding: 0 0.5rem;
  color: #ee6727;
}

.navbar .navbarIcons a:hover {
  color: #1abc9c;
}

.sliderConatiner .slider {
  margin: 2rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.sliderConatiner .slider #sliderImg {
  width: 100%;
}

.sliderConatiner .slider #sliderImg img {
  width: 100%;
  height: 100%;
  -webkit-animation: ani 4s linear;
          animation: ani 4s linear;
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  60% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes ani {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  60% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#home .offerCardContainer {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#home .offerCardContainer .offerCard {
  margin: 1rem;
  border: 10px #ff6b6b solid;
}

#home .offerCardContainer .offerCard .cardImg img {
  width: 250px;
  height: 250px;
}

#home .offerCardContainer .offerCard .cardDesc {
  margin: 0.5rem;
}

#home .offerCardContainer .offerCard .cardDesc .descImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

#home .offerCardContainer .offerCard .cardDesc .descImg img {
  width: 100px;
  height: 50px;
}

#home .offerCardContainer .offerCard .cardDesc p {
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */